body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

button#toggle-theme {
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
}
