body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #a09b9b;
}

header {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,1);
}

h2 {
    color: #e46f6f;
}

article {
    background-color: #b4f75c;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

video {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}

audio {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}